.feature {
  &-list .item + .item {
    margin-left: 30px;
  }
}

.feature-list .item::before {
  display: block;
  content: '';
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-position: center;
  background-size: 65px;
  background-repeat: no-repeat;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.feature-list {
  .item {
    width: 270px;
  }
}

.feature-list {
  display: flex;
}

.feature-list {
  .title {
    color: $secondary-text-color;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }
}

.feature-list {
  .text {
    margin-top: 10px;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
